<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout::link-css"></th:block>
    <title>Thêm Lop</title>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container">
    <h1>Thêm mới sách</h1>
    <form th:action="@{/lop/add}" th:object="${lop}" method="post">
        <div class="mb-3">
            <label for="tenLop" class="form-label" >Tên lớp:</label>
            <input class="form-control" type="text" th:field="*{tenLop}" id="tenLop">
            <span th:if="${#fields.hasErrors('tenLop')}" th:errors="*{tenLop}" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-success" value="Thêm mới">
    </form>
    <br>
    <a class="btn btn-info" th:href="@{/lop}">Trở về</a>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>