<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách lớp</title>
    <th:block th:replace="layout::link-css"></th:block>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container mt-4">
    <h2>Danh sách lớp</h2>
    <a class="btn btn-success" th:href="@{/lop/add}">Thêm mới</a>
    <table class="table table-bordered table-warning">
        <thead>
        <tr>
            <th>Mã lớp</th>
            <th>Tên lớp</th>
            <th>Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lop : ${dsLop}">
            <td th:text="${lop.maLop}"></td>
            <td th:text="${lop.tenLop}"></td>
            <td>
                <a class="btn btn-success" th:href="@{/lop/edit/{id}(id=${lop.maLop})}">Sửa</a>
                <a class="btn btn-danger" th:href="@{/lop/delete/{id}(id=${lop.maLop})}" onclick="return confirm ('Bạn có muốn xoá?')">Xoá</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>

