<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout::link-css"></th:block>
    <title>Xóa Lớp</title>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container">
    <h1>Xóa Lớp</h1>
    <p>Bạn có chắc chắn muốn xóa Lớp "<span th:text="${monhoc.tenMonHoc}"></span>"?</p>
    <form th:action="@{/monhoc/edit/{id}(id=${monhoc.maMon})}" th:object="${monhoc}" method="post">
        <input type="submit" class="btn btn-danger" value="Xóa">
    </form>
    <br>
    <a th:href="@{/}">Trở về</a>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>