<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout::link-css"></th:block>
    <title>Sửa Lớp</title>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container">
    <h1>Sửa</h1>
    <form th:action="@{/monhoc/edit/{id}(id=${monhoc.maMon})}" th:object="${monhoc}" method="post">
        <div class="mb-3">
            <label for="maMon" class="form-label">Mã môn:</label>
            <input class="form-control" type="text" th:field="*{maMon}" id="maMon">
            <span th:if="${#fields.hasErrors('maMon')}" th:errors="*{maMon}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="tenMonHoc" class="form-label">Tên môn học:</label>
            <input class="form-control" type="text" th:field="*{tenMonHoc}" id="tenMonHoc">
            <span th:if="${#fields.hasErrors('tenMonHoc')}" th:errors="*{tenMonHoc}" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-success" value="Sửa">
    </form>
    <br>
    <a class="btn btn-info" th:href="@{/monhoc}">Trở về</a>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>
