<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách Môn học</title>
    <th:block th:replace="layout::link-css"></th:block>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container mt-4">
    <h2>Danh sách Môn học</h2>
    <a class="btn btn-danger" th:href="@{/monhoc/add}">Thêm mới</a>
    <table class="table table-bordered table-warning">
        <thead>
        <tr>
            <th>Mã Môn Học</th>
            <th>Tên Môn Học</th>
            <th>Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="monhoc : ${dsMonHoc}">
            <td th:text="${monhoc.maMon}"></td>
            <td th:text="${monhoc.tenMonHoc}"></td>
            <td>
                <a class="btn btn-success" th:href="@{/monhoc/edit/{id}(id=${monhoc.maMon})}">Sửa</a>
                <a class="btn btn-danger" th:href="@{/monhoc/delete/{id}(id=${monhoc.maMon})}" onclick="return confirm ('Bạn có muốn xoá?')">Xoá</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>

