<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bài thực hành tuần 3</title>
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<header th:fragment="header">
    <nav class = "navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">HUTECH</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbar SupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">Trang chủ</a>
                    </li>
                    <li class="nav-item"> <a class="btn btn-success" href="/lop">Quản lý Lớp</a></li>
                    <li class="nav-item"> <a class="btn btn-danger" href="/monhoc">Quản lý Môn học</a></li>
                    <li class="nav-item"> <a class="btn btn-warning" href="/sinhvien">Quản lý Sinh Viên</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div th:insert="~{::${content}}"></div>
<footer th:fragment="footer">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</footer>
</body>
</html>