<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout::link-css"></th:block>
    <title>Xóa Lớp</title>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container">
    <h1>Xóa Sinh Viên</h1>
    <p>Bạn có chắc chắn muốn xóa Sinh Viên "<span th:text="${sinhvien.mssv}"></span>"?</p>
    <form th:action="@{/sinhvien/delete/{id}(id=${sinhvien.mssv)}" th:object="${sinhvien}" method="post">
        <input type="submit" class="btn btn-danger" value="Xóa">
    </form>
    <br>
    <a th:href="@{/}">Trở về</a>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>