<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout::link-css"></th:block>
    <title>Sửa Sinh viên</title>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container">
    <h1>Sửa</h1>
    <form th:action="@{/sinhvien/edit/{id}(id=${sinhvien.mssv})}" th:object="${sinhvien}" method="post">
        <div class="mb-3">
            <label for="mssv" class="form-label">Mã sinh viên:</label>
            <input class="form-control" type="text" th:field="*{mssv}" id="mssv">
            <span th:if="${#fields.hasErrors('mssv')}" th:errors="*{mssv}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="hoTen" class="form-label">Họ tên:</label>
            <input class="form-control" type="text" th:field="*{hoTen}" id="hoTen">
            <span th:if="${#fields.hasErrors('hoTen')}" th:errors="*{hoTen}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input class="form-control" type="text" th:field="*{email}" id="email">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="ngaySinh" class="form-label">Ngày sinh:</label>
            <input class="form-control" type="date" th:field="*{ngaySinh}" id="ngaySinh">
            <span th:if="${#fields.hasErrors('ngaySinh')}" th:errors="*{ngaySinh}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="lop" class="form-label">Lớp:</label>
            <select class="form-control" th:field="*{lop}" id="lop">
                <option th:each="lop : ${dsLop}" th:value="${lop.maLop}" th:text="${lop.tenLop}"></option>
            </select>
        <input type="submit" class="btn btn-success" value="Sửa">
    </form>
    <br>
    <a class="btn btn-info" th:href="@{/sinhvien}">Trở về</a>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>
