<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách Môn học</title>
    <th:block th:replace="layout::link-css"></th:block>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container mt-4">
    <h2>Danh sách Sinh viên</h2>
    <a class="btn btn-warning" th:href="@{/sinhvien/add}">Thêm mới</a>
    <table class="table table-bordered table-warning">
        <thead>
        <tr>
            <th>Mã Sinh Viên</th>
            <th>Email</th>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Lớp</th>
            <th>Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sinhvien : ${dsSinhVien}">
            <td th:text="${sinhvien.mssv}"></td>
            <td th:text="${sinhvien.email}"></td>
            <td th:text="${sinhvien.hoTen}"></td>
            <td th:text="${sinhvien.ngaySinh}"></td>
            <td th:text="${sinhvien.lop.tenLop}"></td>
            <td>
                <a class="btn btn-success" th:href="@{/sinhvien/edit/{id}(id=${sinhvien.mssv})}">Sửa</a>
                <a class="btn btn-danger" th:href="@{/sinhvien/delete/{id}(id=${sinhvien.mssv})}" onclick="return confirm ('Bạn có muốn xoá?')">Xoá</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>

